<!DOCTYPE html>
<html lang="en">

<head>
	<title>Shallow Brook Software</title>

	<meta charset="utf-8" />
	<meta name="description" content="Independent software development in Des Moines, Iowa" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="/static/css/tailwind.min.css" />
	<script data-goatcounter="https://sbs.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
	<style>
		@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
		.font-family-karla { font-family: karla; }
	</style>
</head>

<body class="font-family-karla flex flex-col min-h-screen">

	<!-- header -->
	<header>
		<nav class="container mx-auto px-8 py-4 flex justify-between items-center mt-8 lg:mt-12">
			<a class="text-2xl hover:text-gray-500" href="/">Shallow Brook Software</a>
			<a class="text-xl text-right hover:text-gray-500" href="/posts">Programming Adventures</a>
		</nav>
	</header>

	<!-- main content -->
	<main class="flex-grow">
		<div class="container mx-auto px-8 flex flex-col-reverse lg:flex-row items-center gap-12 mt-8 lg:mt-16">
			<!-- content -->
			<p class="text-xl">Internal server error</p>
		</div>
	</main>

	<!-- footer -->
	<footer>
		<div class="container mx-auto px-8 py-8 flex items-center justify-between">
			<a class="hover:text-gray-500" href="/">Shallow Brook Software</a>
			<a class="hover:text-gray-500" href="https://storyset.com/internet">Internet Illustrations by Storyset</a>
		</div>
	</footer>
</body>

</html>
