{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Shallow Brook Software</title>

	<meta charset="utf-8" />
	<meta name="description" content="Independent software development in Des Moines, Iowa" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="/static/css/tailwind.min.css" />
	<script src="/static/js/htmx.min.js" defer></script>
	<script data-goatcounter="https://sbs.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

	<style>
		@font-face {
			font-family: "Karla";
			font-weight: normal;
			font-style: normal;
			src: url("/static/font/karla/Karla-Regular.ttf") format("truetype");
		}
		
		@font-face {
			font-family: "Karla";
			font-weight: bold;
			font-style: normal;
			src: url("/static/font/karla/Karla-Bold.ttf") format("truetype");
		}
		
		@font-face {
			font-family: "Karla";
			font-weight: normal;
			font-style: italic;
			src: url("/static/font/karla/Karla-Italic.ttf") format("truetype");
		}
		
		@font-face {
			font-family: "Karla";
			font-weight: bold;
			font-style: italic;
			src: url("/static/font/karla/Karla-BoldItalic.ttf") format("truetype");
		}

		html {
			font-family: "Karla", sans-serif;
		}
	</style>
</head>

<body>

	<!-- header -->
	<header>
		<nav class="container mx-auto px-8 py-4 flex justify-between items-center mt-8 lg:mt-12">
			<a class="text-2xl hover:text-gray-500" href="/">Shallow Brook Software</a>
			<a class="text-xl text-right hover:text-gray-500" href="/posts/">Programming Adventures</a>
		</nav>
	</header>

	<!-- main -->
	<main>
		{{template "main" .}}
	</main>

	<!-- footer -->
	<footer>
		<div class="container mx-auto px-8 py-8 flex items-center justify-between">
			<a class="hover:text-gray-500" href="/">Shallow Brook Software</a>
			<a class="hover:text-gray-500 text-right" href="https://storyset.com/internet">Internet Illustrations by Storyset</a>
		</div>
	</footer>
</body>

</html>
{{end}}
