{{template "base" .}}

{{define "main"}}
<!-- hero -->
<section>
	<div class="container mx-auto px-8 flex flex-col-reverse lg:flex-row items-center gap-12 mt-8 lg:mt-16">

		<!-- content -->
		<div class="flex flex-1 flex-col items-center lg:items-start">
			<p class="md:text-xl lg:text-2xl text-center lg:text-left">Welcome to</p>
			<h2 class="text-3xl md:text-4xl lg:text-5xl text-center lg:text-left mb-6">
				Shallow Brook Software
			</h2>
			<p class="text-lg text-center lg:text-left mb-6">
				A small, independent software development business located in Des Moines, Iowa.
			</p>
		</div>

		<!-- image -->
		<div class="flex flex-1 justify-center mb-10 md:mb-16 lg:mb-0 z-10">
			<img
				class="w-5/6 h-5/6 sm:w-3/4 sm:h-3/4 lg:w-full lg:h-full"
				src="/static/img/work-time.webp"
				alt=""
			/>
		</div>
	</div>
</section>

<!-- services -->
<section class="bg-gray-50 py-20 mt-20 lg:mt-48">

	<!-- heading -->
	<div class="mx-auto px-4 sm:w-1/2">
		<h1 class="text-3xl text-center">Services</h1>
		<p class="text-center mt-4">
			Our business focuses on backend automation, development, and maintenance.
			We embrace simple and modern solutions for each and every problem we solve.
		</p>
	</div>

	<!-- web hosting -->
	<div class="px-4 mt-24 lg:mt-44">
		<div class="container mx-auto px-8 flex flex-col lg:flex-row items-center justify-center gap-x-24">
			<!-- image -->
			<div class="flex flex-1 justify-center z-10 mb-10 lg:mb-0">
				<img
					class="w-5/6 h-5/6 sm:w-3/4 sm:h-3/4 lg:w-full lg:h-full"
					src="/static/img/website-designer.webp"
					alt=""
				/>
			</div>
			<!-- content -->
			<div class="flex flex-1 flex-col items-center lg:items-start">
				<h1 class="text-3xl text-center lg:text-left">Web Hosting</h1>
				<p class="my-4 text-center lg:text-left sm:w-3/4 lg:w-full">
					Specialized web hosting backed by reliable, cloud-based providers.
					Experience managing GoDaddy, SquareSpace, Wix, and WordPress websites.
				</p>
			</div>
		</div>
	</div>

	<!-- devops and automation -->
	<div class="px-4 mt-20 lg:mt-36">
		<div class="container mx-auto px-8 flex flex-col lg:flex-row-reverse items-center justify-center gap-x-24">
			<!-- image -->
			<div class="flex flex-1 justify-center z-10 mb-10 lg:mb-0">
				<img
					class="w-5/6 h-5/6 sm:w-3/4 sm:h-3/4 lg:w-full lg:h-full"
					src="/static/img/deconstructed-robot.webp"
					alt=""
				/>
			</div>
			<!-- content -->
			<div class="flex flex-1 flex-col items-center lg:items-start">
				<h1 class="text-3xl text-center lg:text-left">DevOps and Automation</h1>
				<p class="my-4 text-center lg:text-left sm:w-3/4 lg:w-full">
					Programmatic system administration using popular open-source tools such as Ansible and Terraform.
					Dedication to clean and idempotent automation design.
				</p>
			</div>
		</div>
	</div>

	<!-- database management -->
	<div class="px-4 mt-20 lg:mt-36">
		<div class="container mx-auto px-8 flex flex-col lg:flex-row items-center justify-center gap-x-24">
			<!-- image -->
			<div class="flex flex-1 justify-center z-10 mb-10 lg:mb-0">
				<img
					class="w-5/6 h-5/6 sm:w-3/4 sm:h-3/4 lg:w-full lg:h-full"
					src="/static/img/server.webp"
					alt=""
				/>
			</div>
			<!-- content -->
			<div class="flex flex-1 flex-col items-center lg:items-start">
				<h1 class="text-3xl text-center lg:text-left">Database Management</h1>
				<p class="my-4 text-center lg:text-left sm:w-3/4 lg:w-full">
					Updates, migrations, and backups for popular databases such as PostgreSQL and MySQL.
					Background in data modeling, performance tuning, and query optimization.
				</p>
			</div>
		</div>
	</div>

	<!-- monitoring and alerts -->
	<div class="px-4 mt-20 lg:mt-36">
		<div class="container mx-auto px-8 flex flex-col lg:flex-row-reverse items-center justify-center gap-x-24">
			<!-- image -->
			<div class="flex flex-1 justify-center z-10 mb-10 lg:mb-0">
				<img
					class="w-5/6 h-5/6 sm:w-3/4 sm:h-3/4 lg:w-full lg:h-full"
					src="/static/img/broken-robot.webp"
					alt=""
				/>
			</div>
			<!-- content -->
			<div class="flex flex-1 flex-col items-center lg:items-start">
				<h1 class="text-3xl text-center lg:text-left">Monitoring and Alerts</h1>
				<p class="my-4 text-center lg:text-left sm:w-3/4 lg:w-full">
					Continuous, 24/7 uptime tracking with client-visible dashboards.
					Real-time notifications based on degraded performance or loss of service.
				</p>
			</div>
		</div>
	</div>
</section>

<!-- contact -->
<section class="bg-green-400 text-white flex flex-col justify-center h-80">
	<div class="container mx-auto px-8">
		<form class="sm:w-3/4 lg:w-2/4 mx-auto" hx-post="/contact" hx-swap="outerHTML">
			<h1 class="text-center text-3xl font-bold">Let us know how we can help!</h1>
			<div class="flex flex-col sm:flex-row gap-6 mt-8">
				<input
					type="email"
					id="email"
					name="email"
					placeholder="Enter your mail address"
					class="focus:outline-none flex-1 px-2 py-3 rounded-md text-black"
				/>
				<button
					type="submit"
					class="shadow-md py-3 px-6 rounded-md transition duration-300 bg-indigo-600 hover:bg-indigo-800"
				>
					Contact Us
				</button>
			</div>
		</form>
	</div>
</section>
{{end}}
